:root {
  --pink: #da2f68;
  --orange: #f89e00;
  --text-main:white;
  --main-bg:rgb(0, 0, 0);
  --main-gradient: linear-gradient(98.37deg, #f89e00 .99%, #da2f68 100%);
  --photoOverlayBackgroundColor: rgb(0, 0, 0), rgba(0, 0, 0, 0);
  --bannerOverlayBackgroundColor: rgb(0 0 0 / 96%), rgb(0 0 0 / 78%);
}

[data-theme="light"] {
  --pink: #da2f68;
  --orange: #f89e00;
  --text-main:rgba(0, 0, 0, 0.87);
  --main-bg:rgb(245, 245, 245);
  --main-gradient: linear-gradient(98.37deg, #f89e00 .99%, #da2f68 100%);
  --photoOverlayBackgroundColor: rgb(245, 245, 245), rgba(0, 0, 0, 0);
  --bannerOverlayBackgroundColor: rgb(245, 245, 245), rgba(245, 245, 245, 0.777);
}